<div class="__logger">

    <h4>res.locals</h4>
    <p>
        All the <code>res.locals</code> variables are available under <code>@root</code>.
        <br />
        <br />

        <code>isAuthenticated</code>: {{isAuthenticated}}
        <br />

        <code>loggedUser</code>:
        <pre>{{{renderJSON loggedUser}}}</pre>

        <code>data</code>:
        <pre>{{{renderJSON data}}}</pre>

        <code>listing</code>:
        <pre>{{{renderJSON listing}}}</pre>

        <code>listings</code>:
        <pre>{{{renderJSON listings}}}</pre>

        <code>user</code>:
        <pre>{{{renderJSON user}}}</pre>

        <code>alert</code>:
        <pre>{{{renderJSON alert}}}</pre>




        <code>error</code>: {{error}}
        <br />

        <code>success</code>: {{success}}
        <br />

        <code>settings</code>:
        <pre>{{{renderJSON settings}}}</pre>

        <code>meta</code>:
        <pre>{{{renderJSON meta}}}</pre>

    </p>

</div>